<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <title></title>
</head>

<body>
<header>
 <a href="/"><h3 > Home</h3> </a>
 
 <a href="/todos-list"><h3 > Todos List</h3> </a>
 
</header>
